* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 1000px;
}

header {
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), #808080, #404040, black);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#rrss {
    position: -webkit-sticky;
    position: sticky;
    float: right;
}

#redes_sociales {
    display: flex;
    flex-direction: column;
}

.icono {
    width: 40px;
    height: 40px;
    object-fit: cover;
}