        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: black;
        }
        
        header {
            display: flex;
            width: 100%;
            height: 500px;
            background: linear-gradient(to bottom, rgba(138, 138, 138, 0.7), #444444, #313131, black);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            color: #ccb102;
            flex-direction: row-reverse;
            justify-content: space-between;
            position: fixed;
        }
        
        #logo_cabecera {
            position: relative;
            width: 700px;
            height: 300px;
            margin: 50px 100px;
            line-height: 500px;
            border: solid white;
        }
        
        nav {
            position: relative;
            display: inline-flex;
            width: 900px;
            height: 300px;
            margin: 50px 100px;
            line-height: 500px;
            border: solid white;
        }
        
        nav ul {
            display: inline-flex;
            width: 100%;
            line-height: 300px;
            list-style: none;
            position: absolute;
            margin: 0 90px;
        }
        
        nav ul li {
            width: 250px;
            margin: 0 10px;
            list-style-position: outside;
        }
        
        nav ul li img {
            width: 100px;
            margin-top: 115px;
        }
        
        #rrss {
            position: -webkit-sticky;
            position: sticky;
            float: right;
        }
        
        #redes_sociales {
            display: flex;
            flex-direction: column;
        }
        
        .icono {
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
        
        @media all and (max-width:1000px) {
            header img {
                display: none;
            }
        }